<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">หจก.สมปรารถนา ขนส่ง</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">เกี่ยวกับเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">บริการของเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">ผลงาน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">ติดต่อเรา</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong style="color: #F05F40;">ยินดีบริการรถเครน 3 ถึง 15 ตัน และรถ 4-6 ล้อไว้บริการ</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5" style="color: #ffffff;background: rgba(51,51,51, 0.75);
        padding: 20px;">หจก.สมปรารถนาขนส่ง บริการ รถเครน (3 ถึง 15 ตัน) รถคอก สี่ล้อ เปิดข้าง ปิ๊กอั๊บ สิบล้อเครน
          สิบล้อ และ รับเครดิตวางบิล</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">เกี่ยวกับเรา</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">บริษัท หจก.สมปรารถนา ขนส่ง คือ!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">บริษัท ห้างหุ้นส่วนจำกัด เป็นผู้นำด้าน การบริการด้านการขนย้าย ยกย้าย ขนส่ง รับเคลื่อนย้ายสินค้า
          วัสดุอุปกรณ์ ต่างๆ ด้วย รถเครน (3 ถึง 15 ตัน) รถคอก สี่ล้อ เปิดข้าง ปิ๊กอั๊บ สิบล้อเครน สิบล้อ และ รับเครดิตวางบิล
          เราให้บริการด้วยความซื่อสัตย์ บริการอย่างมืออาชีพ เปิดให้บริการทุกวัน</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">บริการของเรา</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">บริการของเรา</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-truck text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">บริการขนส่ง 10 ล้อ</h3>
          <p class="text-muted mb-0">บริการขนส่ง สิบล้อเครน และ สิบล้อ.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-car text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">บริการขนส่ง 4 ล้อ</h3>
          <p class="text-muted mb-0">บริการขนส่ง 4 ล้อ รถคอก เปิดข้าง ปิ๊กอั๊บ.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">บริการขนอุปกรณ์</h3>
          <p class="text-muted mb-0">บริการ ขนอุปกรณ์งานออกบูธแสดงสินค้า,งานอีเว้นท์ต่างๆ.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-home text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">บริการย้ายเฟอร์นิเจอร์</h3>
          <p class="text-muted mb-0">บริการ ย้ายห้อง,ย้ายเฟอร์นิเจอร์,ที่อยู่อาศัย,ห้องเช่า,หอพัก,คอนโด,อพาร์ทเม้นต์,สำนักงาน,ออฟฟิศ,งานก่อสร้าง.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26348.jpg">
          <img class="img-fluid" src="assets/img/26348.jpg" alt="รถทั้งหมด">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถทั้งหมด
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/6167.jpg">
          <img class="img-fluid" src="assets/img/6167.jpg" alt="รถบรรทุก 6 ล้อ 10 ล้อ">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถบรรทุก 6 ล้อ 10 ล้อ
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26384.jpg">
          <img class="img-fluid" src="assets/img/26384.jpg" alt="รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26351.jpg">
          <img class="img-fluid" src="assets/img/26351.jpg" alt="รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26355.jpg">
          <img class="img-fluid" src="assets/img/26355.jpg" alt="รถเครนบรรทุก">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครนบรรทุก
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26349.jpg">
          <img class="img-fluid" src="assets/img/26349.jpg" alt="รถบรรทุก และ รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถบรรทุก และ รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26347.jpg">
          <img class="img-fluid" src="assets/img/26347.jpg" alt="รถทั้งหมด">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถทั้งหมด
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26352.jpg">
          <img class="img-fluid" src="assets/img/26352.jpg" alt="รถบรรทุกสี่ล้อ">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถบรรทุกสี่ล้อ
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26353.jpg">
          <img class="img-fluid" src="assets/img/26353.jpg" alt="รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26372.jpg">
          <img class="img-fluid" src="assets/img/26372.jpg" alt="รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26346.jpg">
          <img class="img-fluid" src="assets/img/26346.jpg" alt="รถบรรทุก 6 ล้อ 10ล ้อ">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถบรรทุก 6 ล้อ 10ล ้อ 
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/26354.jpg">
          <img class="img-fluid" src="assets/img/26354.jpg" alt="รถเครน">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                รถเครน
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">บริการด้วยความซื่อสัตย์ บริการอย่างมืออาชีพ เปิดให้บริการทุกวัน ยินดีบริการ</h2>
    <a class="btn btn-light btn-xl sr-button" href="#contact">ติดต่อเรา</a>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">ติดต่อเรา</h2>
        <hr class="my-4">
        <p class="mb-5">77/187 หมู่บ้าน เมอร์ริทแกรนด์(ดอนเมือง) ถนน เลียบคูนายกิม สาย 1 แขวง ดอนเมือง เขต ดอนเมือง จังหวัด
          กรุงเทพมหานคร 10210</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>เบอร์โทร</p>
        <p>081-205-6738 , 081-571-2117</p>
      </div>
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-address-card fa-3x mb-3 sr-contact"></i>
        <p>กรรมการผู้จัดการ</p>
        <p>สมถวิล ศรีชัย</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>อีเมล์</p>
        <p>
          <a href="mailto:effza@live.com">effza@live.com</a>
        </p>
      </div>
    </div>
  </div>
</section>